<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <appSettings>
        <add key="MyServerIP" value="23.111.157.142"/>
        <add key="MyServerPort" value="2302"/>
        <add key="DzsaUri" value="https://dayzsalauncher.com/api/v1/launcher/servers/dayz"/>
    </appSettings>
</configuration>